*{
    margin: 0;
    padding: 0;
}

div#container{
    display: flex;
    height: 100vh;
    margin: 0 auto;
    justify-content: center;
    align-items:flex-start;
    flex-wrap: wrap;

}

#grid{
    display: flex;
    width: 800px;
    height: 800px;
    gap: 0px;
    flex-wrap: wrap;
    border-style: solid;
    border-width: 1px 0px 0px 1px;
    border-color: black;
    align-content: flex-start;
    align-items: flex-start;
}
.row{
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
}
.grid-element{
    box-sizing: border-box;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-color: black;
}

h1{
    text-align: center;
}